/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* VARIABLES CSS */
:root {
  --header-height: 3.5rem;

  /* Colors */
  --color-1: #b70007;
  /* --color-alt */

  /* Font and Typography */

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* z index */
  --z-fixed: 100;
}

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #b70007;
  color: #fff;
  background: #fff;
  /* background: hsl(22, 8%, 6%); */
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

section {
  padding-block: 32px;
}

button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: #b70007;
  transition: background 0.3s color 0.3s;
}

button:hover {
  color: #b70007;
  background: #fff;
}

/* REUSEABLE CSS CLASSES */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding-block: 5rem 1.5rem;
}

.button {
  display: inline-block;
  background: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
}

/* Shapes */
.shape__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}

.shape__small,
.shape__big {
  position: absolute;
  background-color: var(--color-1);
  filter: blur(96px);
  z-index: -1;
  border-radius: 50%;
}

.shape__small {
  width: 150px;
  height: 150px;
}

.shape__big {
  width: 250px;
  height: 250px;
  opacity: 0.8;
}
