fieldset {
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 12px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input {
  padding: 8px 12px;
  margin: 0.4rem;
}

input[type='text'] {
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
